# Pandas - Data Cleaning

_March 22, 2021_

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#### several Pandas methods that conveniently apply a function to every item in a dataframe or series

- `Apply()` - on both series and dataframe

- `Applymap()` - only on dataframes

- `Map()` - only on series

In [3]:
# import the dataframe 
df = pd.read_csv('auto-mpg.csv')
df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl

#### Exercise:
Run a query and get all the car names that have horsepower less than 150 and weight greater than 3000. 

Hint: You will run into an error. Debug the error and return  correct results. You should get 100 entries.

In [5]:
cars_lessthan150_greaterthan3000 = df[(df.horsepower < 150) and (df.weight > 3000)]['car name']

TypeError: '<' not supported between instances of 'str' and 'int'

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [20]:
hp = pd.to_numeric(df['horsepower'], errors='coerce') #This forces all unknown values in the column to a NaN value without dropping it
hp

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393     86.0
394     52.0
395     84.0
396     79.0
397     82.0
Name: horsepower, Length: 398, dtype: float64

In [13]:
df['horsepower'] = hp

In [16]:
hp_df = df.loc[df['horsepower'] < 150]

In [19]:
whp = hp_df.loc[df['weight'] > 3000]
whp

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
34,16.0,6,225.0,105.0,3439,15.5,71,1,plymouth satellite custom
35,17.0,6,250.0,100.0,3329,15.5,71,1,chevrolet chevelle malibu
36,19.0,6,250.0,88.0,3302,15.5,71,1,ford torino 500
...,...,...,...,...,...,...,...,...,...
363,22.4,6,231.0,110.0,3415,15.8,81,1,buick century
364,26.6,8,350.0,105.0,3725,19.0,81,1,oldsmobile cutlass ls
365,20.2,6,200.0,88.0,3060,17.1,81,1,ford granada gl
366,17.6,6,225.0,85.0,3465,16.6,81,1,chrysler lebaron salon
387,38.0,6,262.0,85.0,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)

### Data Cleaning - level up with the adult dataset (NOT going to be covered in stand down)

Dataset documentation:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
adults = pd.read_csv(url,header = None)

In [ ]:
# Check the first few rows

In [ ]:
# add the columns to dataset


columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital_status','occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country','income']

In [ ]:
# check the info of dataset

In [ ]:
# check missing values

In [ ]:
# perform some queries - find the total num female & bachelors

In [ ]:
# seems like we have data anolmaly, find out what that is and fix it 
# hint - tons of entries contain white space, remove it!

In [ ]:
# subsetting multiple cols

In [ ]:
# create a column called income_binary, 1 if >50k and 0 otherwise

In [ ]:
# get some descriptive statistics of the income distribution